# Auto detect text files and perform LF normalization
* text=auto
Service Efficiency
Operational Performance
Mobility Revolution
Customer Experience


Problem Statement :
- Lack of bus operating due to breakdown issues as some of the bus is quite old. Those problematic buses are required to performed 

1. Predictive Maintenance

- Type of maintenance ?
*

- Why maintenance performance ? 
* periodical maintenance or due to breakdown